* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{ 
    width: 100vw;
    height: 100vh;
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: #f2f2c2;
}

.container{
    display: flex;
    width: 80vw;
    height: 80vh;
    background-color: #fff;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 80vh;
    background: rgb(131,58,180);
    background-image: linear-gradient(43deg, #ffb600 0, #ffa304 16.67%, #ff8f16 33.33%, #f37b1f 50%, #e56725 66.67%, #d7562a 83.33%, #cb462e 100%);
    animation: mover 2s ease;
}

@keyframes mover {
    from{
        transform: translateX(78%);
    }
    to{
        transform: translateX(0%);
    }
  }

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35vw;
    height: 80.2vh;
    background-color: #fff;
}

.troca{
    animation: trocar 2s ease;
}

@keyframes trocar{
    0% {
      -webkit-transform: translate(100%);

    }
    100% {
      -webkit-transform: translate(0%);
    }
  }
.titulo{
    color: red;
    font-size: 60px;
    animation: mudar 5s infinite ease-in-out;
}

@keyframes mudar {
    0%{
        color:#cb462e;
    }
    25%{
       color:  #ffb600;
    }
    50%{
        color: #ff8f16;
    }
    75%{
        color: #e56725;
    }
    100%{
        color: #cb462e;
    }
  }

.detalhe{
    color: #725353;
    text-align: center;
    font-size: 15px;
}

.nome{
    color: #fff;
    font-size: 35px;
}

.campo{
    display: flex;
    margin: 1vh;
    padding: 9px;
    border-radius: 10px;
    color: #fff;
    border:none;
    box-shadow: 1px 1px 1px 1px rgb(245, 241, 241);
    text-decoration: none;
    outline: none;
    background-color: transparent;
}

.campo:hover{
    padding: 7px;
    border: 2px outset #ffffff;
}

.butao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 20vh;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 1vh;
    background-color: transparent;
    cursor: pointer;
}

.butao:active{
    transform: scale(0.9)
}

.butao:hover{
    opacity:90%;
}

.texto{
    display: flex;
    color: #fff;
    padding: 10px;
    gap: 10px;
}

.cadastro_btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 15px;
}

.cadastro_btn:hover{
    text-decoration:underline;
}

.cadastrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 80vh;
    background: rgb(131,58,180);
    background-image: linear-gradient(43deg, #ffb600 0, #ffa304 16.67%, #ff8f16 33.33%, #f37b1f 50%, #e56725 66.67%, #d7562a 83.33%, #cb462e 100%);
}