@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@layer utilities {
    .gradient {
      background-image: linear-gradient(
        to bottom right,
        #ffb600 0%,        /* gradient1 */
        #ffa304 16.67%,    /* gradient2 */
        #ff8f16 33.33%,    /* gradient3 */
        #f37b1f 50%,       /* gradient4 */
        #e56725 66.67%,    /* gradient5 */
        #d7562a 83.33%,    /* gradient6 */
        #cb462e 100%       /* gradient7 */
      );
    }
    *{
      margin: 0;
      padding: 0;
    }

    @keyframes mover {
        from{
            transform: translateX(-100%);
        }
        to{
            transform: translateX(0%);
        }
      }
      .mover{
      animation: mover 2s ease;
      }
      @keyframes trocar{
        0% {
          -webkit-transform: translate(100%);
    
        }
        100% {
          -webkit-transform: translate(0%);
        }
      }
      .troca {
        animation: trocar 2s ease;
      }
      @keyframes mudar {
        0%{
            color:#cb462e;
        }
        25%{
           color:  #ffb600;
        }
        50%{
            color: #ff8f16;
        }
        75%{
            color: #e56725;
        }
        100%{
            color: #cb462e;
        }
      }
      .mudar{
      animation: mudar 5s infinite ease-in-out;
      }
    }

* {
  font-family: "Poppins";
}